<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Remove</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item fill="outline">
      <ion-label position="floating">Rechercher</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <p>Anglais</p>
      </ion-col>
      <ion-col size="4">
        <p>Français</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="words?.length; then withWords; else noWord">
  </ng-container>
  <ng-template #withWords>
    <ion-list *ngFor="let word  of words;let index = index; ">
      <ion-card>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-text>{{word.eng}}</ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-text>{{word.fr}}</ion-text>
              </ion-col>
              <ion-col offset="2" size="2">
                <ion-button (click)="onRemove(index)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </ng-template>
  <ng-template #noWord>
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="onAddWord()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-card>
  </ng-template>
</ion-content>
